<div class="container">
<div class="row">
  <div class="col-sm-8"><br><br>
    <div class="p20 bg-white content-col relative">
                        <div class="fb-box">
                            <div class="social-div">
    <div class="fb-like fb_iframe_widget" data-href="https://waka.vn/truoc-binh-minh-luon-la-dem-toi-ta-minh-tuan-bzAr8W.html" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=388905431258956&amp;container_width=130&amp;href=https%3A%2F%2Fwaka.vn%2Ftruoc-binh-minh-luon-la-dem-toi-ta-minh-tuan-bzAr8W.html&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=true"><span style="vertical-align: bottom; width: 134px; height: 20px;"><iframe name="f138e036ebbafa2" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" style="border: medium none; visibility: visible; width: 134px; height: 20px;" src="https://www.facebook.com/v2.5/plugins/like.php?action=like&amp;app_id=388905431258956&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FMs1VZf1Vg1J.js%3Fversion%3D42%23cb%3Dfee1a6bc74d9f8%26domain%3Dwaka.vn%26origin%3Dhttps%253A%252F%252Fwaka.vn%252Ff36d955f5843ea%26relation%3Dparent.parent&amp;container_width=130&amp;href=https%3A%2F%2Fwaka.vn%2Ftruoc-binh-minh-luon-la-dem-toi-ta-minh-tuan-bzAr8W.html&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=true&amp;show_faces=true" class="" width="1000px" height="1000px" frameborder="0"></iframe></span></div>
    <!--<div class="fb-like" data-href="" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>-->
</div>                        </div>
                        
                        <div class="book-info">
                            <div class="book-info-text">
                                <h1>Trước bình minh luôn là đêm tối</h1>
                                <div class="book-info-line">
                                    <span>Tác giả:</span>
                                    <h3 class="detail-tag"><a class="author-detail hightlight click_author_info" href="https://waka.vn/tac-gia/ta-minh-tuan-a95K3W.html">Tạ Minh Tuấn</a></h3>
                                </div>
                                <p>Thể loại: <a class="category-detail hightlight click_category" href="https://waka.vn/the-loai/kinh-doanh-ggDW.html">Kinh doanh</a><a class="category-detail hightlight click_category" href="https://waka.vn/the-loai/khoi-nghiep-gpV9W.html">, Khởi nghiệp</a></p>
                                <div class="book-info-line">
                                    <span>Nhà xuất bản:</span>
                                    <h3 class="detail-tag"><a class="publisher-detail hightlight click_publisher_info" href="https://waka.vn/nha-xuat-ban/nxb-lao-dong-xa-hoi-pG8W.html">NXB Lao Động Xã Hội</a></h3>
                                </div>
                                <p>Định dạng: Epub</p>
                                <p>Ngày cập nhật: 22/01/2018</p>
                            </div>
                            <div class="fbl ga_click" data-gacategory="DetailBook" data-gaaction="Click Function" data-galabel="Read">
                            <button class="btn btn-primary">Request</button>
                            </div><br>
                            <div class="clearfix"></div>
                            <div id="book-desc" class="boxcontentdesc text-justify short radio-b-desc pb20 book-info-desc">
                                <!--<span class="desc"></span>
                                <div class="text-right">
                                    <p id="read-more" class="read-more book-info-see-more" style="cursor: pointer" data-parent="#book-desc">Đọc thêm</p>
                                </div>-->
                                <div class="desc-full">
                                    <p><strong>Trước bình minh luôn là đêm tối</strong> là hành trình của một chàng trai sắp 30 tuổi, với những thành tích đáng nể và tinh thần không ngừng nỗ lực khẳng định vị thế, tầm vóc của khởi nghiệp Việt trên toàn thế giới.</p>
<p>Qua câu chuyện thành công của chính mình, tác giả chia sẻ nhiều điều về khởi nghiệp. Cụ thể: đừng để khởi nghiệp Việt Nam dừng lại ở mức “phong trào khởi nghiệp”, mà phải phát triển nó đến mức “văn hóa khởi nghiệp” thì sẽ bền vững hơn. Muốn như vậy, chúng ta cần tạo ra một thế hệ doanh nhân khởi nghiệp có trách nhiệm. Vậy, thế nào là khởi nghiệp có trách nhiệm? Khởi nghiệp có trách nhiệm không phải là hôm nay hứng… khởi nghiệp, liền nộp đơn xin nghỉ việc, không quan tâm công việc ở công ty đã được bàn giao đầy đủ hay chưa, sếp hỏi lý do tại sao thì trả lời “Tại em thích”, mặc dù sếp và công ty đối đãi mình không tệ. Vào làm có văn hóa thì nghỉ việc cũng phải có văn hóa! Khởi nghiệp có trách nhiệm không phải là bán kem trắng da, trắng liền trong 3 ngày, bất chấp hậu quả sức khỏe của khách hàng, để bán được hàng, còn khuyên là kem này mẹ bầu dùng vẫn được. Cái đó là tạo nghiệp chứ không phải khởi nghiệp!...</p>
<p>Cuốn sách còn chứa chan tình yêu thương gia đình – nơi để trở về mỗi lần mệt mỏi với dông bão ngoài kia với lòng biết ơn sâu sắc. “Những người sẵn lòng đặt con tim của họ vào “cái hòm kín” của bạn, sẵn sàng lấp đầy con tim của bạn, sẵn sàng ở bên cạnh bạn dù lúc thành công hay khi thất bại, không ai khác, chính là Gia đình của bạn!”</p>
<p>Ngoài ra còn nhiều chia sẻ bổ ích, thú vị, sâu sắc về thành công, nỗi buồn, hạnh phúc khác từ chính cuộc đời tác giả, chắc chắn sẽ khiến độc giả vỡ ra nhiều điều trong cuộc sống.</p>
<p>Mời bạn đón đọc!</p>
<p>&nbsp;</p>                                </div>
                            </div>
                            
                        </div>
                        <div class="clearfix"></div>

                    </div>
  </div>
  <div class="col-sm-4"><br><br>
    <div class="book-thumb">
                            <img src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/0/17933.jpg?v=1&amp;w=340&amp;h=497" alt="Truoc binh minh luon la dem toi" title="Truoc binh minh luon la dem toi" class="img-fluid box-shadow-bold">
                            <div class="book-interactive">
                                <div class="book-rate-info">
                                    <div class="book-rate-box">
                                        <div class="choose-rate-cnt hide">
                                            <div class="choose-rate">
                                                <fieldset class="rating">
                                                    <input id="star5" name="rating" value="5" type="radio"><label class="full" for="star5" title="Rất hay"></label>
                                                    <input id="star4" name="rating" value="4" type="radio"><label class="full" for="star4" title="Tôi thích"></label>
                                                    <input id="star3" name="rating" value="3" type="radio"><label class="full" for="star3" title="Tạm ổn"></label>
                                                    <input id="star2" name="rating" value="2" type="radio"><label class="full" for="star2" title="Bình thường"></label>
                                                    <input id="star1" name="rating" value="1" type="radio"><label class="full" for="star1" title="Không hay"></label>
                                                </fieldset>

                                                <!--<span class="rate-text">Bình thường</span>-->
                                            </div>
                                            <div class="send-rate-box">
                                                <span class="vote-count">2 votes</span>
                                                <a href="javascript:;" class="send-rate" onclick="sendRate(17933, 1);">gửi</a>
                                            </div>
                                        </div>
                                        <div class="rate-book-cnt">
                                            <a href="javascript:;" onclick="rateBook(1);" class="has_rate hide">
                                                <p class="rate-icon"></p>
                                                <p class="gray-text text-rated"><strong class="rate-score"><span class="avg_rate green-text">5</span><span>/5&nbsp;</span></strong><span class="total_rate">(2 votes)</span></p>
                                            </a>
                                            <a href="javascript:;" onclick="rateBook(1);" class="non_rate ">
                                                <p class="do-rate-icon"></p>
                                                <p class="gray-text"><span class="">Đánh giá sách</span></p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
  </div>
</div>
<hr>
<div class="form-group">
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>
</div>

<div class="container text-center">    
  <h3>Có thể bạn thích</h3>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Partner 1</p>
    </div>
    <div class="col-sm-2"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Partner 2</p>    
    </div>
    <div class="col-sm-2"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Partner 3</p>
    </div>
    <div class="col-sm-2"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Partner 4</p>
    </div> 
    <div class="col-sm-2"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Partner 5</p>
    </div>     
    <div class="col-sm-2"> 
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Partner 6</p>
    </div> 
  </div>
</div><br>
