@import "bootstrap-sprockets";
@import "bootstrap";

/* header */
.navbar-inverse {
  background-color: #fff;
  border-color: #2cc8c8;;
}
.navbar-form .input-group > .form-control {
    width: 154%;
    margin-left: 100px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: 256px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #42a3ae;
  background-color: transparent;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  letter-spacing: -1px;
  padding-top: 0px;
  font-weight: bold;
}

#logo:hover {
  text-decoration: none;
}

/* pagination */
.pagination {
  float: center;
}
    
/* footer */
#footer {
  background-color: #f2f2f2;
  padding-top: 20px;
small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 55px;
    }
  }
}
#sidenav {
  background-color: #f1f1f1;
}
p {
  text-align: justify;
}

